@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: inherit;
    font-family: 'Inter', sans-serif;
    border: 0px;
}

:root {
    --white: #fff;
    --brown-800: #614d04;
    --yellow: #ffc800;
}